<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration" />
    </configSections>

    <unity>
        <assembly name="Application" />
        <namespace name="Application" />
        <container>
            <register type="DataAbstraction.ITransactionDao" mapTo="DataAbstraction.EthereumTransactionDao" />
            <register type="DataAbstraction.ITransportUpdateDao" mapTo="DataAbstraction.EthereumTransportUpdateDao" />
            <register type="Util.ILogger" mapTo="Util.ConsoleLogger" />
            <register type="Util.IParser" mapTo="Util.XmlParser" />
            <register type="Validation.IValidator[Models.TransportUpdate]" mapTo="Validation.TransportUpdateValidator" />
            <register type="Validation.IValidator[Models.Transaction]" mapTo="Validation.TransactionValidator" />
        </container>
    </unity>

<!-- start generated appSettings-->
    <appSettings>
        <add key="ethUrl" value="http://localhost:9545" />
        <add key="contractAddress" value="0x345ca3e014aaf5dca488057592ee47305d9b3e10" />
        <add key="accountAddress" value="0x627306090abab3a6e1400e9345bc60c78a8bef57" />
    </appSettings>

<!-- end generated appSettings-->

</configuration>